type init-talkman-qseecomd-sh, domain;
type init-talkman-qseecomd-sh_exec, exec_type, file_type;

init_daemon_domain(init-talkman-qseecomd-sh)

allow init-talkman-qseecomd-sh shell_exec:file rx_file_perms;

# execute toybox/toolbox
allow init-talkman-qseecomd-sh toolbox_exec:file rx_file_perms;
